html,body{
    padding-top: 15px;
    margin: 0%;
}

#corpo{
    width: 960px;
    margin: auto;}

h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
    color: tomato;
}

h3{ 
    font-family: cursive;

}

#titulo{
color: tomato;
text-align: center;
background-image: url(conte/escola.jpg);
height: 500px;
width: 99,5;
background-position: center;
background-size: 150%;
}

#anisio{
display: block;
margin-left: auto;
margin-right: auto;
}

#ods{
display: block;
margin-left: auto;
margin-right: auto;
}

#ods4{
    display: block;
margin-left: auto;
margin-right: auto;
}